<div class="main-menu menu-fixed menu-dark menu-bg-default rounded menu-accordion menu-shadow">
    <div class="main-menu-content"><a class="navigation-brand d-none d-md-block d-lg-block d-xl-block" href="index.html"><img class="brand-logo" alt="CryptoDash admin logo" src="assets/app-assets/images/logo/logo.png"/></a>
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class="active"><a [routerLink]="['/dashboards']"><i class="icon-grid"></i><span class="menu-title" data-i18n="">Dashboard</span></a>
        </li>
        <li class=" nav-item"><a [routerLink]="['/users']"><i class="icon-user-following"></i><span class="menu-title" data-i18n="">Users</span></a>

          </li>
        <li class=" nav-item"><a [routerLink]="['/courses']"><i class="icon-layers"></i><span class="menu-title" data-i18n="">Courses</span></a>
        </li>
        <!-- <li class=" nav-item"><a href="wallet.html"><i class="icon-wallet"></i><span class="menu-title" data-i18n="">Wallet</span></a>
        </li>
        <li class=" nav-item"><a href="transactions.html"><i class="icon-shuffle"></i><span class="menu-title" data-i18n="">Transactions</span></a>
        </li>
        <li class=" nav-item"><a href="faq.html"><i class="icon-support"></i><span class="menu-title" data-i18n="">FAQ</span></a>
        </li> -->
      
      </ul>
    </div>
  </div>