    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content content">
        <div class="content-wrapper">
          <div class="content-header row">
          </div>
          <div class="content-body"><section id="account-login" class="flexbox-container">    
      <div class="col-12 d-flex align-items-center justify-content-center">
          <!-- image -->
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0 text-center d-none d-md-block">
              <div class="border-grey border-lighten-3 m-0 box-shadow-0 card-account-left height-400">
                  <img src="assets/app-assets/images/pages/account-login.png" class="card-account-img width-200" alt="card-account-img">
              </div>
          </div>
          <!-- login form -->
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-5 col-12 p-0">
              <div class="card border-grey border-lighten-3 m-0 box-shadow-0 card-account-right height-400">                
                  <div class="card-content">                    
                      <div class="card-body p-3">
                          <p class="text-center h5 text-capitalize">Welcome to Copy management!</p>
                          <p class="mb-3 text-center">Please enter your login details</p>
                          <form class="form-horizontal form-signin" [formGroup]="signInForm" (ngSubmit)="onSignIn()">                            
                              <fieldset class="form-label-group">
                                  <input type="text" class="form-control" formControlName="email" id="user-name" placeholder="Your Username" value="john" required="" autofocus="">
                                  <label for="user-name">Username</label>
                              </fieldset>
                              <div class="text-danger"
                                        *ngIf="signInForm.get('email')?.errors?.['required'] && signInForm.get('email')?.touched">
                                          <small class="text-police">Please enter your email</small>
                                         </div>
                              <fieldset class="form-label-group">
                                  <input type="password" class="form-control" formControlName="password" id="user-password" placeholder="Enter Password" value="john" required="" autofocus="">
                                  <label for="user-password">Password</label>
                              </fieldset>

                              <button type="submit" [disabled]="signInForm.invalid || isProgressing" class="btn-gradient-primary btn-block my-1 is-clicable">Log In</button>
                              <p class="text-center"><a [routerLink]="['/register']" class="card-link">Register</a></p>
                          </form>

                          <div class="text-danger"
                                        *ngIf="!isCorrect">
                                          <small class="text-police">password or username no correct !</small>
                                         </div>
                      </div>                    
                  </div>
              </div>
          </div>        
      </div>    
  </section>
  
          </div>
        </div>
      </div>
      <!-- ////////////////////////////////////////////////////////////////////////////-->
  