
<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Notes</h3>
            <div class="row breadcrumbs-top d-inline-block">
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"> {{ course.name }}
                  </li>
                </ol>
              </div>
            </div>
          </div>
        <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
          <div class="btn-group float-md-right"><a class="btn-gradient-secondary btn-sm white" data-bs-toggle="modal" data-bs-target="#newNote">New note</a></div>
        </div>
      </div>
      <div class="content-body"><div id="transactions">
  <div class="transactions-table-th d-none d-md-block">
      <div class="col-12">
          <div class="row px-1">
              <div class="col-md-2 col-12 py-1">
                  <p class="mb-0">Id</p>
              </div>
              <div class="col-md-2 col-12 py-1">
                  <p class="mb-0">Note</p>
              </div>
              <div class="col-md-2 col-12 py-1">
                  <p class="mb-0">Student</p>
              </div>
              <div class="col-md-1 col-12 py-1">
                  <p class="mb-0">Action</p>
              </div>
          </div>
      </div>
  </div>
  <div class="transactions-table-tbody">
      <section class="card pull-up" >
          <div class="card-content">
              <div class="card-body">
                  <div class="col-12">
                      <div class="row" *ngFor="let note of notes">
                          <div class="col-md-2 col-12 py-1">
                              <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Id: </span>{{ note.id }}</p>
                          </div>
                          <div class="col-md-2 col-12 py-1">
                            <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Note: </span>{{ note.note }}</p>
                        </div>
                          <div class="col-md-2 col-12 py-1">
                              <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Student: </span>{{ note?.student?.firstName }}</p>
                          </div>
                          <div class="col-md-1 col-12 py-1">
                              <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Action: </span> <a (click)="onClick(note.id)" class="mb-0 btn-sm btn btn-outline-success round">Delete</a></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

  </div>
</div>
      </div>
    </div>
  </div>

  <!-- add course form -->

  <!-- Modal -->
<div class="modal fade" id="newNote" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Adding note to a student </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" [formGroup]="noteForm" (ngSubmit)="onSaveNote()">
            <div class="modal-body">
            
                <div class="mb-3">
                    <label for="note" class="form-label">Note</label>
                    <input type="text" class="form-control" id="note" formControlName="note" placeholder="Note">
                  </div>

                  <div class="text-danger"
                  *ngIf="noteForm.get('note')?.errors?.['required'] && noteForm.get('note')?.touched">
                    <small class="text-police">Please enter note</small>
                   </div>
    
    
                  <select class="form-select" formControlName="idStudent" aria-label="Default select example">
                    <option selected>select course teacher </option>
                    <option *ngFor="let student of students" [ngValue]="student.id">{{student.firstName}}-{{student.lastName}}</option>
                  </select> 
                  <br>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeSaveModal>Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
        </form>
      </div>
    </div>
  </div>
