
<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">Notes</h3>
            <div class="row breadcrumbs-top d-inline-block">
              <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"> {{ course.name }}
                  </li>
                </ol>
              </div>
            </div>
          </div>
        <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
          <div class="btn-group float-md-right"><a class="btn-gradient-secondary btn-sm white" href="wallet.html">New note</a></div>
        </div>
      </div>
      <div class="content-body"><div id="transactions">
  <div class="transactions-table-th d-none d-md-block">
      <div class="col-12">
          <div class="row px-1">
              <div class="col-md-2 col-12 py-1">
                  <p class="mb-0">Id</p>
              </div>
              <div class="col-md-2 col-12 py-1">
                  <p class="mb-0">Note</p>
              </div>
              <div class="col-md-2 col-12 py-1">
                  <p class="mb-0">Student</p>
              </div>
              <div class="col-md-1 col-12 py-1">
                  <p class="mb-0">Action</p>
              </div>
          </div>
      </div>
  </div>
  <div class="transactions-table-tbody">
      <section class="card pull-up" >
          <div class="card-content">
              <div class="card-body">
                  <div class="col-12">
                      <div class="row">
                          <div class="col-md-2 col-12 py-1">
                              <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Id: </span></p>
                          </div>
                          <div class="col-md-2 col-12 py-1">
                            <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">First name: </span></p>
                        </div>
                          <div class="col-md-2 col-12 py-1">
                              <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Last name: </span></p>
                          </div>
                          <div class="col-md-1 col-12 py-1">
                              <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Phone number: </span> <i class="cc ETH-alt"></i></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

  </div>
</div>
      </div>
    </div>
  </div>