<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
      </div>
      <div class="content-body"><!-- ICO Token &  Distribution-->

<div class="row">
  <div class="col-12">
      <div class="card pull-up">
          <div class="card-content collapse show">
              <div class="card-body">
                  <form class="form-horizontal form-purchase-token row" action="buy-ico.html">
                      <div class="col-md-2 col-12">
                          <fieldset class="form-label-group mb-0">
                              <input type="text" class="form-control" id="ico-token" value="" required="" autofocus="">
                              <label for="ico-token">Cours</label>
                          </fieldset>
                      </div>
                      <div class="col-md-1 col-12 text-center">
                          <span class="la la-arrow-right"></span>
                      </div>
                      <div class="col-md-2 col-12">
                          <fieldset class="form-label-group mb-0">
                              <input type="text" class="form-control" id="selected-crypto" value="1" required="" autofocus="">
                              <!-- <label for="selected-crypto">ETH</label> -->
                          </fieldset>
                      </div>
                      <div class="col-md-1 col-12">
                          <select class="custom-select">
                              <option selected>ETH</option>
                              <option value="1">BTC</option>
                              <option value="2">LTC</option>
                              <option value="3">USDT</option>
                              <option value="3">Credit Card</option>
                          </select>
                      </div>
                      <div class="col-md-4 col-12 mb-1">
                          <fieldset class="form-label-group mb-0">
                              
                          </fieldset>
                      </div>
                      <div class="col-md-2 col-12 text-center">
                          <button type="submit" class="btn-gradient-secondary" data-bs-toggle="modal" data-bs-target="#addCourse">Add course</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<!--/ ICO Token balance & sale progress -->
<!-- Recent Transactions -->
<div class="row">
  <div id="recent-transactions" class="col-12">
      <h6 class="my-2">Course list</h6>
      <div class="card">
          <div class="card-content">
              <div class="table-responsive">
                  <table id="recent-orders" class="table table-hover table-xl mb-0">
                      <thead>
                          <tr>
                              <th class="border-top-0">Id</th>
                              <th class="border-top-0">Name</th>
                              <th class="border-top-0">Descrioption</th>
                              <th class="border-top-0">Teatcher</th>
                              <th class="border-top-0">Action</th>
                              <th class="border-top-0"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let course of courses">
                              <td class="text-truncate">{{ course.id }}</td>
                              <td class="text-truncate">{{ course.name }}</td>
                              <td class="text-truncate">{{ course.description }}</td>
                              <td class="text-truncate">{{ course.teatcher.firstName }}</td>
                              <td class="text-truncate">
                                <a  [routerLink]="['/view-more-course']" [queryParams]="{id: course.id}" class="mb-0 btn-sm btn btn-outline-success round">View</a>
                            </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>

      </div>
    </div>
  </div>

  <!-- add course form -->

  <!-- Modal -->
<div class="modal fade" id="addCourse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Adding new course</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" [formGroup]="courseForm" (ngSubmit)="onSave()">
            <div class="modal-body">
            
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name">
                  </div>
    
                  <div class="mb-3">
                    <label for="name" class="form-label">Note d'évalution</label>
                    <input type="text" class="form-control" id="name" formControlName="evaluationNote" placeholder="Name">
                  </div>
    
                  <select class="form-select" formControlName="idTeather" aria-label="Default select example">
                    <option selected>select course teacher </option>
                    <option *ngFor="let user of users" [ngValue]="user.id">{{user.firstName}}-{{user.lastName}}</option>
                  </select> <br>
    
                  <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
                  </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" #closeSaveModal>Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
              </div>
        </form>
      </div>
    </div>
  </div>
