
<div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
          <h3 class="content-header-title mb-0 d-inline-block">Users</h3>
          <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a (click)="getAllUsers()">all users</a>
                </li>
                <li class="breadcrumb-item"><a (click)="getAllUsersAdmin()">Admin</a>
                </li>
                <li class="breadcrumb-item"><a (click)="getAllUsersTeatcher()">Teatcher</a>
                </li>
                <li class="breadcrumb-item"><a (click)="getAllUsersStudent()">Student</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
          <div class="btn-group float-md-right"><a class="btn-gradient-secondary btn-sm white" href="wallet.html">Add user</a></div>
        </div>
      </div>
      <div class="content-body"><div id="transactions">
  <div class="transactions-table-th d-none d-md-block">
      <div class="col-12">
          <div class="row px-1">
              <div class="col-md-2 col-12 py-1">
                  <p class="mb-0">Id</p>
              </div>
              <div class="col-md-2 col-12 py-1">
                  <p class="mb-0">First name</p>
              </div>
              <div class="col-md-2 col-12 py-1">
                  <p class="mb-0">Last name</p>
              </div>
              <div class="col-md-1 col-12 py-1">
                  <p class="mb-0">phone number</p>
              </div>
              <div class="col-md-2 col-12 py-1">
                  <p class="mb-0">email</p>
              </div>
              <div class="col-md-2 col-12 py-1">
                <p class="mb-0">Status</p>
            </div>
          </div>
      </div>
  </div>
  <div class="transactions-table-tbody">
      <section class="card pull-up" *ngFor="let user of users">
          <div class="card-content">
              <div class="card-body">
                  <div class="col-12">
                      <div class="row">
                          <div class="col-md-2 col-12 py-1">
                              <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Id: </span>{{user.id}}</p>
                          </div>
                          <div class="col-md-2 col-12 py-1">
                            <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">First name: </span>  {{user.firstName}} </p>
                        </div>
                          <div class="col-md-2 col-12 py-1">
                              <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Last name: </span>  {{user.lastName}} </p>
                          </div>
                          <div class="col-md-1 col-12 py-1">
                              <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">Phone number: </span> <i class="cc ETH-alt"></i> {{user.phoneNumber}}</p>
                          </div>
                          <div class="col-md-2 col-12 py-1">
                              <p class="mb-0"><span class="d-inline-block d-md-none text-bold-700">email: </span> {{user.email}} </p>
                          </div>
                          <div class="col-md-2 col-12 py-1">
                            <span class="d-inline-block d-md-none text-bold-700">Status: </span> <span class="d-inline-block d-md-none text-bold-700"> </span>  <a (click)="onChangeUserStatus(user.id, user.status)" class="mb-0 btn-sm btn btn-outline-warning round">{{user.status }}</a>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

  </div>
</div>
      </div>
    </div>
  </div>